language: python
python:
  - "3.8"

#addons
addons:
  firefox: latest

# safelist
branches:
  only:
    - staging

install:
  - pip install tchappui-webdrivers

before_script:
  # - install-webdrivers --path /usr/local/bin/
  - pip install -r requirements.txt

env: DJANGO_SETTINGS_MODULE="pur_beurre.settings.travis"

services:
  - postgresql

script:
  - ./manage.py test
